
        <header class="site-header">
			<div class="container">
				<div class="block title-block cf">
					<img class="logo" src="/team2/images/albany-law-logo.png" alt="Logo Albany Law School">
					<div class="title">{{ site.title }}</div>
				</div>
				<nav class="nav-bar">
					<ul class="nav">
						<li><a class="nav-link" href="/team2/eviction/">Eviction</a></li>
						<li><a class="nav-link" href="/team2/leases/">Leases</a></li>
						<li><a class="nav-link" href="/team2/repairs/">Repairs</a></li>
						<li><a class="nav-link" href="/team2/rights/">Rights</a></li>
						<li><a class="nav-link" href="/team2/termination/">Termination</a></li>
					</ul>
				</nav>
			</div>
		</header>
