
        <header class="site-header">
			<div class="container">
				<div class="menu-bar cf" > 
					<ul class="menu">
						<li><a href="{{site.url}}" class="menu-link">Home</a></li>
						<li><a href="{{site.url}}/custom-page/" class="menu-link">Links</a></li>
					</ul>
				</div>
				<div class="block title-block cf">
					<img class="logo" src="{{site.url}}/img/albany-law-logo.png" alt="Logo Albany Law School">
					<div class="title"><a href="{{site.url}}" src="site title">{{ site.title }}</a></div>
				</div>
				<nav class="nav-bar">
					<ul class="nav">
						<li><a class="nav-link" href="{{site.url}}/eviction/">Eviction</a></li>	
						<li><a class="nav-link" href="{{site.url}}/leases/">Leases</a></li>
						<li><a class="nav-link" href="{{site.url}}/repairs/">Repairs</a></li>
						<li><a class="nav-link" href="{{site.url}}/rights/">Rights</a></li>
						<li><a class="nav-link" href="{{site.url}}/termination/">Termination</a></li>
						<li><a class="nav-link" href="{{site.url}}/rent-control/">Rent Control</a></li>
					</ul>
				</nav>
			</div>
		</header>
