
        <header class="site-header">
			<div class="container">
				<div class="block title-block cf">
					<img class="logo" src="images/albany-law-logo.png" alt="Logo Albany Law School">
					<div class="title">{{ site.title }}</div>
				</div>
				<nav class="nav-bar">
					<ul class="nav">
						<li><a class="nav-link" href="eviction/">Eviction</a></li>
						<li><a class="nav-link" href="leases/">Leases</a></li>
						<li><a class="nav-link" href="repairs/">Repairs</a></li>
						<li><a class="nav-link" href="rights/">Rights</a></li>
						<li><a class="nav-link" href="termination/">Termination</a></li>
					</ul>
				</nav>
			</div>
		</header>
